{% if messages %}
<h3 class="messages">
  {% for message in messages %}
  <h3{% if message.tags %} class ="{{ message.tags}}"{% endif %}>{{ message }}</h3>
  {% endfor %}
</h3>
{% endif %}


<html>
<head><title>Address Book</title>
  <head>
<h1>Address Book</h1>
<h3>Perform search by name, address, mobile number, or email address</h3>

<form method='GET' action='/entries/'>
<input type='text' name='q' placeholder='Search'>
</form>
<body>


<td>Name</td>
<table>
<tr>
</tr>
{% for entry in entries_list %}
<li>
  <a href='/entries/{{ entry.id }}' >{{ entry.name }} </a>

</li>
{% endfor %}</table>
<h3>Click <a href="http://127.0.0.1:8000">here</a> for main page</h3>
</body>
</html>
